body{
	font-family: 'Open Sans', sans-serif;
	background: #efefef;
}
*{
	box-sizing: border-box;
}
h1,h2{
	margin: 10px 0;
}
.header{
	background: #d34346;
	padding: 5px 20px;
	position: relative;
}
.social-col{
	display: none;
}
.logo-image{
	max-width: 160px;
}
.menu-btn{
	background: url(../images/btn_menu.svg) 0 0 no-repeat;
	display: block;
	padding: 10%;
	margin: 3% 0 0 0;
}

.menu{
	position: absolute;
	bottom: -235px;
	right: -1000px;
	display: none;
	z-index: 10;
	background: #d34346;
	width: 100%
}
.menu-item{
	display: block;
	text-decoration: none;
	padding: 10px;
	font-size: 18px;
	color: #fff;
	font-weight: 600;
	border-bottom: 2px solid #bd2d30;
}
.menu-item:hover,
.menu-item:active,
.menu-item:focus{
	background: #bd2d30;
	color: #fff;
}

.slick-prev{
	background: url(../images/chevron-sprite.svg)  10px 8px no-repeat, #d34346;
	background-size: 80px;
	left: 0;
}
.slick-next{
	background: url(../images/chevron-sprite.svg) -50px 8px no-repeat, #d34346;
	background-size: 80px;
	
	right: 0;
}
.slide{
	position: relative;
}
.slider-description{
	display: block;
	max-width: 570px;
	position: absolute;
	bottom: 0;
	left: 139px;
	z-index: 10;
	color: #fff;
}
.slider-description-title{
	display: block;
	width: 100%;
	border-left: 10px solid #be3639;
	background: #d05054;
	margin: 0;
	font-size: 25px;
	line-height: 30px;
	padding: 15px;
}
.slider-description-text{
	display: block;
	width: 100%;
	border-left: 10px solid #2b3945;
	background: #3f5163;
	font-size: 16px;
	line-height: 24px;
	padding: 15px;
}
.features{
	margin: 50px 0;
}
.features-box{
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 35px;
	padding: 0 10px 0 45px;
	margin: 0 5px;
}
.features-box-title{
	font-size: 20px;
	line-height: 24px;
	color: #bd2c30;
}

.features-box-text{
	font-size: 14px;
	line-height: 21px;
	color: #212121;
}

.way-icon{
	background-image: url(../images/road-icon.svg);
}

.leaf-icon{
	background-image: url(../images/leaf-icon.svg);
}

.home-icon{
	background-image: url(../images/house-icon.svg);
}

.people-icon{
	background-image: url(../images/people-icon.svg);
}

.red-block{
	background-color: #d34346;
	border-left: 10px solid #c62f31;
}
.dark-block{
	background-color: #314559;
	border-left: 10px solid #18222b;
}
.about-box{
	margin: 5px;
}
.section-title{
	padding: 10px 10px 10px 20px;
	color: #fff;
	font-size: 25px;
	line-height: 30px;
	font-weight: 800;
	text-transform: uppercase;
}
.section-title-about{
	color: #314559;
	padding: 10px 10px 10px 0;
	font-size: 25px;
	line-height: 30px;
	font-weight: 800;
}
.about-text{
	margin: 15px 0;
}
.arrow-left{
	background: url(../images/arrow-right.svg) left 5px no-repeat;
	background-size: 10px;
	padding-left: 20px
}
.quote{
	background: #fff;
	padding: 20px;
	font-style: italic;
	position: relative;
}
.quote::after{
	content: "";
	display: block;
	position: absolute;
	bottom: -20px;
	left: 30px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 20px 20px 0;
	border-color: transparent #ffffff transparent transparent;
}
.quote-author{
	color: #bd2c30;
	margin: 0 20px 0 60px;
	font-weight: 800;
}
@media screen and (min-width: 768px){
	.header{
		border-bottom: 10px solid #bd2d30;
		padding: 0;
	}
	.mobile-menu-btn{
		display: none;
	}
	.logo{
		margin-top: 25px;
	}
	.menu{
		position: static;
		display: block;
		margin: 0 auto;
	}
	.menu-item{
		display: inline-block;
		text-decoration: none;
		padding: 32px 15px 27px 15px;
		margin-left: 15px;
		text-transform: uppercase;
		font-size: 15px;
		color: #fff;
		font-weight: 600;
		border: none;
	}
	
}

@media screen and (min-width: 1200px) {
	.menu-item{
		padding: 32px 21px 27px 20px;
	}
	.social-col{
		display: block;
	}
	.social{
		margin-top: 33px;
	}
	.social-item{
		display: inline-block;
		overflow: hidden;
		width: 25px;
		height: 22px;
		background: url(../images/social-sprite.svg) 0 0 no-repeat;
		background-size: cover;
		margin: 0 5px;
	}
	.fb{
		background-position: -23px 0;
	}
	.gplus{
		background-position: -46px 0;
	}
	.tw{
		background-position: 0 0;
	}
}